# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules

# ⚠️ Importante: No ignores dist/ porque ahí va el build para GitHub Pages
# dist

# Archivos locales
*.local

# Archivos de editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
